<h1>{{title}}</h1> {{!-- 1.타이틀 영역 --}} 

{{!-- 2.검색어 영역 --}} 
<input type = "text" name = "search" id="search" value="{{search}}" size="50" placeholder="검색어를 입력하세요."/>
<button onclick="location.href=`/?search=${document.getElementById('search').value}`">검색</button>
</br>

{{!-- 3.글쓰기 페이지 이동 링크 --}}
<a href ="/write">글쓰기</a>
<br/>

{{!-- 4.글 목록 --}}
<div>
    <table>
        <thead>
            <tr>
                <th width="50%">제목</th>
                <th>작성자</th>
                <th>조회수</th>
                <th>등록일</th>
            </tr> 
        </thead>
        <tbody>
            {{#each posts}}
                <tr>

                    <td><a href="/detail/{{_id}}">{{title}}</a></td>
                    <td align="center">{{writer}}</td>
                    <td align="center">{{hits}}</td>
                    <td align="center">{{dateString createdDt}}</td> {{!-- 헬퍼함수 dateString사용 --}}
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- 5.페이징 영역--}}
<div>
    {{#with paginator}} {{!-- with 내장 헬퍼 함수 사용 paginator 안의 변수 {{}}으로 바로 사용가능--}} 
{{!--@root 서버의 원본 참조 시 사용--}} 
    <a href ="/?page=1&search={{@root.search}}">&lt;&lt;</a> 
    {{!--그냥search 사용시 paginator에 있는 search변수의 값을 사용하게 되므로 서버에서 보내준 원본의 값을 사용하기 위해 @root사용--}} 
    {{#if hasPrev}}
    <a href="/?page={{prevPage}}&search={{@root.search}}">&lt;</a>
    {{else}}
    <a>&lt;</a>
    {{/if}}
    {{#each pageList}}
    {{#if (eq . @root.paginator.page)}}
    <a>{{.}}</a>
    {{else}}
    <a href="/?page={{.}}&search={{@root.search}}">{{.}}</a>    
    {{/if}}
    {{/each}}
    {{#if hasNext}}
    <a href="/?page={{nextPage}}&search={{@root.search}}">&gt;</a>
    {{else}}
    <a>&gt;</a>
    {{/if}}
    <a href="/?page={{lastPage}}&search={{@root.search}}">&gt;&gt;</a>
    {{/with}}
</div>
